################如果启用此选项，本地可用的包将链接到node_modules，而不是从注册表下载。这在monorepo中非常方便。如果您需要本地包也链接到子依赖项，您可以使用deep设置。####
################否则，从注册表下载并安装软件包。但是，仍然可以使用workspace: range协议链接工作空间包。####
link-workspace-packages=deep
################如果启用此选项，则工作区中的本地包优先于注册表中的包，即使注册表中有更新版本的包也是如此。####
prefer-workspace-packages=true